---
import config from '@config';
import PageLayout from '@layouts/PageLayout.astro';
import type { CollectionEntry } from 'astro:content';
import dayjs from 'dayjs';
import CalendarIcon from '@assets/icons/calendar.svg?raw';
import UserIcon from "@assets/icons/user.svg?raw";
import { Image } from "astro:assets";
import ArrowLeftIcon from '@assets/icons/arrow-left.svg?raw';
import ClockIcon from '@assets/icons/clock.svg?raw';
import { getArticles } from '@lib/ArticlesService';
import Link from '@components/Link.astro';
import AnimatedRevealText from '@components/AnimatedRevealText.astro';
import AnimatedBlurIn from '@components/AnimatedBlurIn.astro';
import { render } from 'astro:content';

export interface Props {
    article: CollectionEntry<'articles'>;
}

export async function getStaticPaths() {
    return (await getArticles()).map(article => ({
        params: {
            id: article.id
        },
        props: {
            article
        }
    }));
}

function getTitle(): string {
    return `${config.title} | ${article.data.title}`;
}

const { article } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(article);
---

<PageLayout title={getTitle()}>
    <Link href="/articles/" class="px-4"><AnimatedRevealText class="flex gap-2" delay={500}><Fragment set:html={ArrowLeftIcon} />Back to articles</AnimatedRevealText></Link>
    <article class="px-4 pb-8 mt-4">
        <AnimatedBlurIn>
            <header class="relative h-96 w-full flex flex-col justify-end">
                <Image src={article.data.cover} alt={article.data.title} class="w-full h-full object-cover absolute -z-10 rounded-md" />
                <div class="p-4 bg-neutral-900/70">
                    <h1 class="font-bold text-4xl md:text-5xl"><AnimatedRevealText>{article.data.title}</AnimatedRevealText></h1>
                    <div class="pt-8">
                        <p class="flex gap-2">
                            <Fragment set:html={CalendarIcon} />
                            <time datetime={dayjs(article.data.published ?? article.data.created).toISOString()}><AnimatedRevealText delay={100}>{dayjs(article.data.published ?? article.data.created).format("DD-MM-YYYY")}</AnimatedRevealText></time>
                        </p>
                        <p class="pt-2 flex gap-2">
                            <Fragment set:html={ClockIcon} />
                            <span><AnimatedRevealText delay={200}>{remarkPluginFrontmatter.readingTime}</AnimatedRevealText></span>
                        </p>
                        <p class="pt-2 flex gap-2">
                            <Fragment set:html={UserIcon} />
                            <span><AnimatedRevealText delay={300}>{config.title}</AnimatedRevealText></span>
                        </p>
                    </div>
                </div>
            </header>
        </AnimatedBlurIn>

        <main class="pt-4 mx-auto max-w-none prose prose-gray prose-invert">
            <AnimatedBlurIn>
                <Content />
            </AnimatedBlurIn>
        </main>
    </article>
</PageLayout>
