---
import PageLayout from "@layouts/PageLayout.astro";
import ProfilePicture from "@assets/images/profile1.png";
import { Image } from "astro:assets";
import LayoutIcon from "@assets/icons/layout.svg?raw";
import SettingsIcon from "@assets/icons/settings.svg?raw";
import DatabaseIcon from "@assets/icons/database.svg?raw";
import config from "@config";
import DownloadIcon from "@assets/icons/download.svg?raw";
import SendIcon from "@assets/icons/send.svg?raw";
import Button from "@components/Button.astro";
import GridArticleItem from "@components/GridArticleItem.astro";
import SocialMediaIcon from "@components/SocialMediaIcon.astro";
import { getGitHubFollowersCount, getTotalCommercialExperience, getSpecializations } from '@lib/KPIService';
import AnimatedNumberCounter from "@components/AnimatedNumberCounter.astro";
import AnimatedTextCarousel from "@components/AnimatedTextCarousel.astro";
import { getArticles } from "@lib/ArticlesService";
import AnimatedRevealText from "@components/AnimatedRevealText.astro";
import AnimatedBlurIn from "@components/AnimatedBlurIn.astro";

const allArticles = await getArticles(3);
---

<PageLayout>
	<div class="px-4 my-32 flex flex-col-reverse justify-center w-full md:flex-row md:justify-around items-center gap-4">
		<div class="flex flex-col gap-2">
			<h1 class="text-4xl md:text-5xl"><AnimatedRevealText>Hi, I'm Stanisław Nieradko.</AnimatedRevealText></h1>
			<p class="text-lg"><AnimatedRevealText><span class="font-semibold">Full-stack software engineer</span> with interest in <span class="font-semibold">DevOps</span>.</AnimatedRevealText></p>
			<p class="mt-2 flex gap-4">
				{config.social.map((social) => <SocialMediaIcon social={social} />)}
			</p>
			<div class="mt-16 flex flex-col md:flex-row gap-4">
				<Button href="https://github.com/KanarekLife/CV/releases/latest/download/cv.pdf" download class="gap-2 h-12 outline outline-1">
					<Fragment set:html={DownloadIcon} />
					Download my CV
				</Button>
				<Button href="/contact/" class="gap-2 h-12 outline outline-1" variant="secondary" delay={100}>
					<Fragment set:html={SendIcon} />
					Get in touch
				</Button>
			</div>
		</div>
		<AnimatedBlurIn class="rounded-full">
			<Image src={ProfilePicture} width="384" alt="Me (Stanisław Nieradko)" class="rounded-full" />
		</AnimatedBlurIn>
	</div>
	<div class="px-4 pt-8 grid grid-cols-1 md:grid-cols-4 gap-8">
		<div class="p-4 flex flex-col gap-3 outline outline-1 outline-neutral-600 rounded-lg max-h-24">
			<p class="text-sm text-neutral-500 font-semibold">Number of GitHub followers</p>
			<p class="text-2xl"><AnimatedNumberCounter value={getGitHubFollowersCount()}/></p>
		</div>
		<div class="p-4 flex flex-col gap-3 outline outline-1 outline-neutral-600 rounded-lg max-h-24">
			<p class="text-sm text-neutral-500 font-semibold">Years of commerical experience</p>
			<p class="text-2xl"><AnimatedNumberCounter value={getTotalCommercialExperience()}/>+</p>
		</div>
		<div class="p-4 flex flex-col gap-3 outline outline-1 outline-neutral-600 rounded-lg max-h-24">
			<p class="text-sm text-neutral-500 font-semibold">Proficient at</p>
			<AnimatedTextCarousel items={getSpecializations()} size="2xl" />
		</div>
		<div class="p-4 flex flex-col gap-3 outline outline-1 outline-neutral-600 rounded-lg max-h-24">
			<p class="text-sm text-neutral-500 font-semibold">Located at</p>
			<p class="text-2xl inline-flex gap-2">
				<AnimatedRevealText>Gdańsk, Poland 🇵🇱</AnimatedTextCarousel>
			</p>
		</div>
	</div>
	{ 
		allArticles.length > 0
		? (<div class="px-4 pt-32">
			<h2 class="text-2xl">My latest articles</h2>
			<ul class="px-4 mt-8 grid grid-cols-1 gap-16 md:grid-cols-3 md:gap-8 articles-grid">
				{
					allArticles.map((article, i) => (
						<li>
							<AnimatedBlurIn delay={i * 50}><GridArticleItem article={article} /></AnimatedBlurIn>
						</li>
					))
				}
			</ul>
		</div>)
		: null
	}
	<div class="px-4 py-32">
		<p class="text-4xl text-center"><AnimatedRevealText>I not only <span class="font-bold">build</span> but also <span class="font-bold">maintain</span> things.</AnimatedRevealText></p>
	</div>
	<div class="px-4 pt-16">
		<h2 class="text-2xl">My skills and experiences</h2>
		<div class="px-4 mt-8 grid grid-cols-1 gap-8 md:grid-cols-3 md:gap-4">
			<div class="flex flex-col gap-2 p-6 outline outline-1 outline-neutral-500 rounded-lg">
				<h3 class="text-lg self-center inline-flex items-center gap-2"><Fragment set:html={SettingsIcon} /> Backend</h3>
				<ul class="mt-4 list-disc ps-4 flex flex-col gap-1">
					<li>Commerical experience with .NET Framework 4.8 and .NET 8.</li>
					<li>Great knowledge of architectural patterns, best practices and system design principles.</li>
					<li>I worked a lot with T-SQL on Azure SQL and MSSQL databases.</li>
					<li>Experienced in building cloud-native applications (mostly in Azure).</li>
				</ul>
			</div>
			<div class="flex flex-col gap-2 p-6 outline outline-1 outline-neutral-500 rounded-lg">
				<h3 class="text-lg self-center inline-flex items-center gap-2"><Fragment set:html={LayoutIcon} /> Frontend</h3>
				<ul class="mt-4 list-disc ps-4 flex flex-col gap-1">
					<li>Extensive knowledge of basics: HTML, CSS, JS and TypeScript.</li>
					<li>Experience in working with both modern frameworks like Angular, React, AstroJS, Svelte and legacy AngularJS.</li>
					<li>Working knowledge of designing and implementing even more complicated app designs.</li>
				</ul>
			</div>
			<div class="flex flex-col gap-2 p-6 outline outline-1 outline-neutral-500 rounded-lg">
				<h3 class="text-lg self-center inline-flex items-center gap-2"><Fragment set:html={DatabaseIcon} /> DevOps</h3>
				<ul class="mt-4 list-disc ps-4 flex flex-col gap-1">
					<li>Good knowledge of Linux and Windows based systems administration (server setup and maintanence).</li>
					<li>Worked a great ton with docker and kubernetes based systems and solutions. Deployed and maintained basic k8s based solutions.</li>
					<li>Experienced in setting up and maintaing CI/CD pipelines in environments like: Azure DevOps, GitHub Actions, FluxCD and more.</li>
				</ul>
			</div>
		</div>
	</div>
</PageLayout>

<style>
	.contact-grid {
		grid-template-columns: auto 1fr;
	}
</style>
