---
import PageLayout from "@layouts/PageLayout.astro";
import ProfilePicture from "@assets/images/profile1.png";
import { Image } from "astro:assets";
import LayoutIcon from "@assets/icons/layout.svg?raw";
import SettingsIcon from "@assets/icons/settings.svg?raw";
import DatabaseIcon from "@assets/icons/database.svg?raw";
import { getCollection } from "astro:content";
import config from "@config";
import DownloadIcon from "@assets/icons/download.svg?raw";
import SendIcon from "@assets/icons/send.svg?raw";
import Button from "@components/Button.astro";
import GridArticleItem from "@components/GridArticleItem.astro";
import SocialMediaIcon from "@components/SocialMediaIcon.astro";
import { getGitHubFollowersCount, getTotalCommercialExperience, getSpecializations } from '@lib/KPIService';

const allArticles = await getCollection("articles", (article) => article.data.published || import.meta.env.DEV)
	.then((articles) => articles.sort((a, b) => b.data.created.getTime() - a.data.created.getTime()))
	.then((articles) => articles.slice(0, 3))
	.then((articles) =>
		Promise.all(
			articles.map(async (article) => {
				const { remarkPluginFrontmatter } = await article.render();
				const typedRemarkPluginFrontmatter = remarkPluginFrontmatter as { minutesRead: number };
				return { ...article, remarkPluginFrontmatter: typedRemarkPluginFrontmatter };
			})
		)
	);
---

<PageLayout>
	<div class="px-4 my-32 flex flex-col-reverse justify-center w-full md:flex-row md:justify-around items-center gap-4">
		<div class="flex flex-col gap-2">
			<h1 class="text-4xl md:text-5xl">Hi, I'm Stanisław Nieradko.</h1>
			<p class="text-lg"><span class="font-semibold">Full-stack software engineer</span> with interest in <span class="font-semibold">DevOps</span>.</p>
			<p class="mt-2 flex gap-4">
				{config.social.map((social) => <SocialMediaIcon social={social} />)}
			</p>
			<div class="mt-16 flex flex-col md:flex-row gap-4">
				<Button href="https://github.com/KanarekLife/CV/releases/latest/download/cv.pdf" download class="gap-2 h-12 outline outline-1">
					<Fragment set:html={DownloadIcon} />
					Download my CV
				</Button>
				<Button href="/contact/" class="gap-2 h-12 outline outline-1" variant="secondary">
					<Fragment set:html={SendIcon} />
					Get in touch
				</Button>
			</div>
		</div>
		<Image src={ProfilePicture} width="384" alt="Me (Stanisław Nieradko)" class="rounded-full" />
	</div>
	<div class="px-4 pt-8 grid grid-cols-1 md:grid-cols-4 gap-8">
		<div class="p-4 flex flex-col gap-3 outline outline-1 outline-neutral-600 rounded-lg">
			<p class="text-sm text-neutral-500 font-semibold">Number of GitHub followers</p>
			<p class="text-2xl">{getGitHubFollowersCount()}</p>
		</div>
		<div class="p-4 flex flex-col gap-3 outline outline-1 outline-neutral-600 rounded-lg">
			<p class="text-sm text-neutral-500 font-semibold">Years of commerical experience</p>
			<p class="text-2xl">{getTotalCommercialExperience()}+</p>
		</div>
		<div class="p-4 flex flex-col gap-3 outline outline-1 outline-neutral-600 rounded-lg">
			<p class="text-sm text-neutral-500 font-semibold">Proficient at</p>
			<p class="text-xl flex gap-4 overflow-x-hidden snap-x" id="specializations">
				{getSpecializations().map((text) => <span class="block min-w-full snap-start">{text}</span>)}
			</p>
		</div>
		<div class="p-4 flex flex-col gap-3 outline outline-1 outline-neutral-600 rounded-lg">
			<p class="text-sm text-neutral-500 font-semibold">Located at</p>
			<p class="text-2xl inline-flex gap-2">
				Gdańsk, Poland 🇵🇱 
			</p>
		</div>
	</div>
	{ 
		allArticles.length > 0
		? (<div class="px-4 pt-32">
			<h2 class="text-2xl">My latest articles</h2>
			<ul class="px-4 mt-8 grid grid-cols-1 md:grid-cols-3 gap-4 articles-grid">
				{
					allArticles.map((article) => (
						<li>
							<GridArticleItem article={article} />
						</li>
					))
				}
			</ul>
		</div>)
		: null
	}
	<div class="px-4 py-32">
		<p class="text-4xl text-center">I not only <span class="font-bold">build</span> but also <span class="font-bold">maintain</span> things.</p>
	</div>
	<div class="px-4 pt-16">
		<h2 class="text-2xl">My skills and experiences</h2>
		<div class="px-4 mt-8 grid grid-cols-1 gap-8 md:grid-cols-3 md:gap-4">
			<div class="flex flex-col gap-2 p-6 outline outline-1 outline-neutral-500 rounded-lg">
				<h3 class="text-lg self-center inline-flex items-center gap-2"><Fragment set:html={SettingsIcon} /> Backend</h3>
				<ul class="mt-4 list-disc ps-4 flex flex-col gap-1">
					<li>Commerical experience with .NET Framework 4.8 and .NET 8.</li>
					<li>Great knowledge of architectural patterns, best practices and system design principles.</li>
					<li>I worked a lot with T-SQL on Azure SQL and MSSQL databases.</li>
					<li>Experienced in building cloud-native applications (mostly in Azure).</li>
				</ul>
			</div>
			<div class="flex flex-col gap-2 p-6 outline outline-1 outline-neutral-500 rounded-lg">
				<h3 class="text-lg self-center inline-flex items-center gap-2"><Fragment set:html={LayoutIcon} /> Frontend</h3>
				<ul class="mt-4 list-disc ps-4 flex flex-col gap-1">
					<li>Extensive knowledge of basics: HTML, CSS, JS and TypeScript.</li>
					<li>Experience in working with both modern frameworks like Angular, React, AstroJS, Svelte and legacy AngularJS.</li>
					<li>Working knowledge of designing and implementing even more complicated app designs.</li>
				</ul>
			</div>
			<div class="flex flex-col gap-2 p-6 outline outline-1 outline-neutral-500 rounded-lg">
				<h3 class="text-lg self-center inline-flex items-center gap-2"><Fragment set:html={DatabaseIcon} /> DevOps</h3>
				<ul class="mt-4 list-disc ps-4 flex flex-col gap-1">
					<li>Good knowledge of Linux and Windows based systems administration (server setup and maintanence).</li>
					<li>Worked a great ton with docker and kubernetes based systems and solutions. Deployed and maintained basic k8s based solutions.</li>
					<li>Experienced in setting up and maintaing CI/CD pipelines in environments like: Azure DevOps, GitHub Actions, FluxCD and more.</li>
				</ul>
			</div>
		</div>
	</div>
</PageLayout>

<style>
	.contact-grid {
		grid-template-columns: auto 1fr;
	}
</style>

<script>
	// Shuffle specializations
	const specializations = document.querySelector('#specializations');
	for (let i = specializations?.children.length ?? 0; i >= 0; i--) {
		specializations?.appendChild(specializations.children[Math.floor(Math.random() * i | 0)]!);
	}

	window.setInterval(() => {
		const elements = document.querySelectorAll('#specializations > span');
		console.log(document.querySelector('#specializations')?.scrollLeft);
		console.log((elements[0] as HTMLSpanElement).clientWidth, (elements.length - 1));
		console.log((document.querySelector('#specializations')?.scrollLeft ?? 0) > (elements[0] as HTMLSpanElement).clientWidth * (elements.length - 1));

		if ((document.querySelector('#specializations')?.scrollLeft ?? 0) > (elements[0] as HTMLSpanElement).clientWidth * (elements.length - 1)) {
			document.querySelector('#specializations')?.scrollTo({left: 0, behavior: 'smooth'});
			return;
		}

		document.querySelector('#specializations')?.scrollBy({left: (elements[0] as HTMLSpanElement).clientWidth, behavior: 'smooth'});
	}, 2500);
</script>