---
import PageLayout from "@layouts/PageLayout.astro";
import ProfilePicture from "@assets/images/profile.png";
import { Image } from "astro:assets";
import LayoutIcon from "@assets/icons/layout.svg?raw";
import SettingsIcon from "@assets/icons/settings.svg?raw";
import DatabaseIcon from "@assets/icons/database.svg?raw";
import config from "@config";
import DownloadIcon from "@assets/icons/download.svg?raw";
import SendIcon from "@assets/icons/send.svg?raw";
import Button from "@components/Button.astro";
import GridArticleItem from "@components/GridArticleItem.astro";
import SocialMediaIcon from "@components/SocialMediaIcon.astro";
import BoxReveal from "@components/animated/BoxReveal.astro";
import BlurIn from "@components/animated/BlurIn.astro";
import NumberCounter from "@components/animated/NumberCounter.astro";
import TextCarousel from "@components/animated/TextCarousel.astro";
import TextScramble from "@components/animated/TextScramble.astro";
import { getGitHubFollowersCount, getTotalCommercialExperience, getSpecializations } from '@lib/KPIService';
import { getArticles } from "@lib/ArticlesService";

const allArticles = await getArticles(3);
---

<PageLayout>
	<div class="px-4 my-32 flex flex-col-reverse justify-center w-full md:flex-row md:justify-around items-center gap-4">
		<div class="flex flex-col gap-2">
			<h1 class="text-4xl md:text-5xl"><BoxReveal>Hi, I'm Stanisław Nieradko!</BoxReveal></h1>
			<p class="text-lg"><BoxReveal><span class="font-semibold">Full-stack software engineer</span> with interest in <span class="font-semibold">DevOps</span>.</BoxReveal></p>
			<p class="mt-2 flex gap-4">
				{config.social.map((social, i) => <BoxReveal delay={i * 100}><SocialMediaIcon social={social} /></BoxReveal>)}
			</p>
			<div class="mt-16 flex flex-col md:flex-row gap-4">
				<Button href="https://github.com/KanarekLife/CV/releases/latest/download/cv.pdf" download class="gap-2 h-12 outline outline-1">
					<Fragment set:html={DownloadIcon} />
					Download my CV
				</Button>
				<Button href="/contact/" class="gap-2 h-12 outline outline-1" variant="secondary" delay={250}>
					<Fragment set:html={SendIcon} />
					Get in touch
				</Button>
			</div>
		</div>
		<BlurIn class="rounded-full">
			<Image src={ProfilePicture} width="384" alt="Me (Stanisław Nieradko)" class="rounded-full" />
		</BlurIn>
	</div>
	<div class="px-4 pt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
		<div class="p-4 flex flex-col justify-between gap-3 outline outline-1 outline-neutral-600 rounded-lg max-h-32">
			<p class="text-sm text-neutral-500 font-semibold">Number of GitHub followers</p>
			<p class="text-2xl"><NumberCounter value={getGitHubFollowersCount()}/></p>
		</div>
		<div class="p-4 flex flex-col justify-between gap-3 outline outline-1 outline-neutral-600 rounded-lg max-h-32">
			<p class="text-sm text-neutral-500 font-semibold">Years of commerical experience</p>
			<p class="text-2xl"><NumberCounter value={getTotalCommercialExperience()}/>+</p>
		</div>
		<div class="p-4 flex flex-col justify-between gap-3 outline outline-1 outline-neutral-600 rounded-lg max-h-32">
			<p class="text-sm text-neutral-500 font-semibold">Skilled at</p>
			<TextCarousel items={getSpecializations()} size="2xl" />
		</div>
		<div class="p-4 flex flex-col justify-between gap-3 outline outline-1 outline-neutral-600 rounded-lg max-h-32">
			<p class="text-sm text-neutral-500 font-semibold">Located at</p>
			<p class="text-2xl inline-flex gap-2">
				<TextScramble>Gdańsk, Poland 🇵🇱</TextScramble>
			</p>
		</div>
	</div>
	{ 
		allArticles.length > 0
		? (<div class="px-4 pt-32">
			<h2 class="text-2xl">My latest articles</h2>
			<ul class="px-4 mt-8 grid grid-cols-1 gap-16 md:grid-cols-3 md:gap-8 articles-grid">
				{
					allArticles.map((article, i) => (
						<li>
							<BlurIn delay={i * 100}><GridArticleItem article={article} /></BlurIn>
						</li>
					))
				}
			</ul>
		</div>)
		: null
	}
	<div class="px-4 py-32">
		<p class="text-4xl text-center"><BoxReveal>I love <span class="font-bold">building</span> and <span class="font-bold">maintaining</span> software projects.</BoxReveal></p>
	</div>
	<div class="px-4 pt-16">
		<h2 class="text-2xl"><BoxReveal>Skills</BoxReveal></h2>
		<div class="px-4 mt-8 grid grid-cols-1 gap-8 md:grid-cols-3 md:gap-4">
			<BlurIn delay={100}>
				<div class="flex flex-col gap-2 p-6 outline outline-1 outline-neutral-500 rounded-lg">
					<h3 class="text-lg self-center inline-flex items-center gap-2"><Fragment set:html={SettingsIcon} /> Backend Development</h3>
					<ul class="mt-4 list-disc ps-4 flex flex-col gap-1">
						<li>Professional Experience with: .NET (C#, ASP.NET Core, Entity Framework), SQL (MSSQL, Azure SQL)</li>
						<li>Familiar with: rust, node.js (TypeScript), Java (Spring Boot), Python</li>
						<li>Good theoretical and practical knowledge of software architecture, design patterns, cloud computing and best practices in software development</li>
					</ul>
				</div>
			</BlurIn>
			<BlurIn delay={200}>
				<div class="flex flex-col gap-2 p-6 outline outline-1 outline-neutral-500 rounded-lg">
					<h3 class="text-lg self-center inline-flex items-center gap-2"><Fragment set:html={LayoutIcon} /> Frontend Development</h3>
					<ul class="mt-4 list-disc ps-4 flex flex-col gap-1">
						<li>Professional Experience with: Angular, AngularJS</li>
						<li>Familiar with: React, Svelte, Astro</li>
						<li>Good knowledge of HTML, CSS, TailwindCSS, TypeScript, modern web development practices and basics of UX/UI design</li>
					</ul>
				</div>
			</BlurIn>
			<BlurIn delay={300}>
				<div class="flex flex-col gap-2 p-6 outline outline-1 outline-neutral-500 rounded-lg">
					<h3 class="text-lg self-center inline-flex items-center gap-2"><Fragment set:html={DatabaseIcon} /> Cloud & DevOps</h3>
					<ul class="mt-4 list-disc ps-4 flex flex-col gap-1">
						<li>Cloud Platforms: Microsoft Azure (Web Apps, Blob Storage, Service Bus, CosmosDB, etc.)</li>
						<li>Containerization & Orchestration: Docker, Kubernetes (self-hosted RKE2, AKS), Helm, FluxCD</li>
						<li>Infrastructure as Code & Automation: Ansible, Terraform, Bash, PowerShell, Python</li>
						<li>CI/CD & Workflow Automation: Azure DevOps, GitHub with GitHub Actions</li>
					</ul>
				</div>
			</BlurIn>
		</div>
	</div>
</PageLayout>

<style>
	.contact-grid {
		grid-template-columns: auto 1fr;
	}
</style>
