---
import config from "@config";
import SocialMediaIcon from "./SocialMediaIcon.astro";

function getCopyrightYears(): string {
    const now = new Date().getFullYear();
    const then = config.createdAtYear;
    return now === then ? `${now}` : `${then} - ${now}`;
}
---

<footer class="p-4 flex flex-col items-center gap-2">
    <p class="flex gap-4">
        {config.social.map((social) => <SocialMediaIcon social={social} />)}
    </p>
    <p><a href="/">{config.title}</a> &copy; {getCopyrightYears()}. All rights reserved.</p>
</footer>