---
import config from "@config";
import SocialMediaIcon from "@components/SocialMediaIcon.astro";
import BoxReveal from "@components/animated/BoxReveal.astro";
import Link from "./Link.astro";

function getCopyrightYears(): string {
    const now = new Date().getFullYear();
    const then = config.createdAtYear;
    return now === then ? `${now}` : `${then} - ${now}`;
}
---

<footer class="p-4 px-8 mt-16 flex flex-col items-center gap-2">
    <p class="flex gap-4">
        {config.social.map((social, i) => <BoxReveal delay={i * 50}><SocialMediaIcon social={social} displayName /></BoxReveal>)}
    </p>
    <p><BoxReveal><Link href="/" class="px-2">{config.title}</Link> &copy; {getCopyrightYears()}. All rights reserved.</BoxReveal></p>
</footer>