---
import { Image } from 'astro:assets';
import dayjs from 'dayjs';
import CalendarIcon from '@assets/icons/calendar.svg?raw';
import ClockIcon from '@assets/icons/clock.svg?raw';
import Button from '@components/Button.astro';
import Link from '@components/Link.astro';
import type { MeetupAttendance } from '@lib/types';

interface Props {
    article: MeetupAttendance
}

const { article } = Astro.props;
---

<article class="relative h-96 w-full flex flex-col justify-end">
    <Image src={article.data.cover} alt={article.data.title} class="w-full h-full object-cover absolute -z-10 rounded-md" />
    <div class="p-4 bg-neutral-900/70">
        <h2 class="text-2xl font-semibold">
            <Link href={`/meetups/${article.slug}`}>{article.data.title}</Link>
        </h2>
        <div class="flex pt-4 justify-between items-center">
            <div>
                <p class="flex gap-2">
                    <Fragment set:html={CalendarIcon} />
                    <time datetime={dayjs(article.data.date).toISOString()}>
                        {dayjs(article.data.date).format("DD-MM-YYYY")}
                    </time>
                </p>
                <p class="pt-2 flex gap-2">
                    <Fragment set:html={ClockIcon} />
                    <span>{article.remarkPluginFrontmatter.readingTime}</span>
                </p>
            </div>
            <div class="mt-auto">
                <Button href={`/meetups/${article.slug}`} class='h-10 px-3'>
                    Read more
                </Button>
            </div>
        </div>
    </div>
</article>