---
import ArrowLeftCircleIcon from "@assets/icons/arrow-left-circle.svg?raw";
import ArrowRightCircleIcon from "@assets/icons/arrow-right-circle.svg?raw";

interface Props {
    items: Array<{
        title: string;
        date: string;
        description?: string;
    }>
}

const items = Astro.props.items
    .reverse();
---

<div class="flex items-center gap-4 w-full">
    <button id="showPrevEventButton" class="hidden md:flex md:items-center md:justify-center group w-16 h-16">
        <span class="group-hover:text-xl"><Fragment set:html={ArrowLeftCircleIcon} /></span>
    </button>
    <ol class="border-s border-neutral-300 dark:border-neutral-500 md:flex md:gap-6 md:border-s-0 md:border-t md:snap-x overflow-x-hidden">
        {items.map((item) => (
            <li class="snap-start w-72 md:w-96">
                <div class="flex-start flex items-center pt-2 md:block md:pt-0">
                    <div class="-ms-[5px] me-3 h-[9px] w-[9px] rounded-full bg-neutral-300 dark:bg-neutral-500 md:-mt-[5px] md:me-0 md:ms-0"></div>
                    <p class="mt-2 text-sm text-neutral-500 dark:text-neutral-300">{item.date}</p>
                </div>
                <div class="ms-4 mt-2 pb-5 w-72 md:ms-0 md:w-96">
                    <h4 class="mb-1.5 text-xl font-semibold">{item.title}</h4>
                    { item.description ? (<p class="mb-3 text-neutral-500 dark:text-neutral-300">{item.description}</p>) : null }
                </div>
            </li>
        ))}
    </ol>
    <button id="showNextEventButton" class="hidden md:flex md:items-center md:justify-center group w-16 h-16">
        <span class="group-hover:text-xl"><Fragment set:html={ArrowRightCircleIcon} /></span>
    </button>
</div>

<script>
    document.querySelector('#showPrevEventButton')?.addEventListener('click', () => {
        const timeline = document.querySelector('ol');
        timeline?.scrollBy({ left: -384, behavior: 'smooth' });
    })

    document.querySelector('#showNextEventButton')?.addEventListener('click', () => {
        const timeline = document.querySelector('ol');
        timeline?.scrollBy({ left: 384, behavior: 'smooth' });
    })
</script>